* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	padding: 30px;
}

pre {
	display: inline-block;
	border: 1px solid #ddd;
	background: #f7f7f7;
	padding: 15px;
	margin-bottom: 15px;
	margin-right: 15px;
}